extends _layout

block content
  #app.container
    div(v-if="loading") Loading...
    div(v-else="")
      div(v-for="(set, i) in questions")
        p {{set.about}}
        table
          tr
            td 質問
            td そうだ
            td まあそうだ
            td やや違う
            td 違う
          tr(v-for="(q, j) in set.body")
            td {{q.question}}
            td(v-for="k in [1, 2, 3, 4]")
              input(type="radio" :value="q.reversePoint ? 5-k : k" :id="i+'-'+j+'-'+k" v-model="points[i][j]")
              label(:for="i+'-'+j+'-'+k") {{k}}
      div
        p あなたの点数は: {{sumOfPoints()}}点です。
  script(src='/js/scripts.js')
    
